/* Dropdown Container */
.dropdown {
  position: relative;
}

.dropdown-title {
  background: none;
  border: none;
  color: #000;
  /* font-size: 14px; */
  cursor: pointer;
}

.dropdown-title:hover {
  color: black;
}

/* Dropdown Menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #dee2e6;
  /* padding: 10px 15px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 400px;
}

.destinationStyle {
  & > .dropdown-menu {
    width: 200px;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-section {
  margin: 1rem;
}

.dropdown-section strong {
  font-size: 12px;
  color: #000;
  font-weight: 400;
}

.dropdown-section ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-top: 2%;
}

.dropdown-section ul li a {
  font-family: "Glacial Indifference", sans-serif;
  padding-left: 0px;
  padding-bottom: 5px;
  color: #333;
  text-decoration: none;
  font-size: 12px;
}

.dropdown-section ul li a:hover {
  color: black;
}
