.careersContainer section:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-yellow);
  width: 100%;
  min-height: 50vh;
  padding: 2%;
  height: 100%;
}
.careersContainer section:first-of-type div:first-of-type {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.careersContainer section:first-of-type div:nth-of-type(2) {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.careersContainer section:first-of-type div:first-of-type h1 {
  font-size: 120px;
  width: max-content;

  font-weight: 900;
  line-height: 1.1;
}
.careersContainer section:first-of-type div:nth-of-type(2) div {
  flex-grow: 0.6;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  scrollbar-width: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5%;
}

.careersContainer section:first-of-type div:nth-of-type(2) div p {
  font-size: 22px;
}

.careersContainer section:nth-of-type(2) {
  padding: 2% 5%;
  text-align: center;
}
.careersContainer section:nth-of-type(2) h2 {
  font-size: 48px;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .careersContainer section:first-of-type div:first-of-type h1 {
    font-size: 80px;
    font-weight: 900;
  }
  .careersContainer section:first-of-type div:nth-of-type(2) div p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .careersContainer section:nth-of-type(2) h2 {
    font-size: 32px;
    text-align: left;
    margin-left: 1.5rem;
  }
  .careersContainer section:first-of-type div:first-of-type h1 {
    font-size: 40px;
    font-weight: 900;
  }
  .careersContainer section:first-of-type div:first-of-type {
    align-items: start;
    flex-basis: 35%;
  }
  .careersContainer section:first-of-type div:nth-of-type(2) {
    flex-basis: 60%;
  }
  .careersContainer section:first-of-type div:nth-of-type(2) div p {
    font-size: 14px;
  }
  .careersContainer section:first-of-type div:nth-of-type(2) div {
    flex-grow: 1;
  }
  .careersContainer section:first-of-type {
    padding: 0;
    min-height: 40vh;
  }
}
@media screen and (max-width: 425px) {
  .careersContainer section:first-of-type div:first-of-type h1 {
    font-size: 30px;
    font-weight: 900;
  }
  .careersContainer section:first-of-type div:nth-of-type(2) div p {
    font-size: 10px;
  }
}
