.clientsContainer header h1 {
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
}
.clientsContainer header {
  background-color: var(--theme-yellow);
  padding: 5%;
}

.clientsContainer section {
  margin: 2% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.clientsContainer section img {
  margin: 2rem;
}

@media screen and (max-width: 768px) {
  .clientsContainer header h1 {
    font-size: 34px;
  }
  .clientsContainer section img {
    margin: 1rem;
  }

  .clientsContainer section {
    margin: 2% 5%;
  }
}
