.contactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5% 2%;
  font-family: "Glacial Indifference", sans-serif;
  overflow-y: hidden;
}

.contactContainer section:first-of-type {
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactContainer section:first-of-type article h1 {
  font-size: 20px;
  font-weight: 600;
}
.contactContainer section:first-of-type article {
  margin: 0% auto;
  /* padding: 0% 5%; */

  & > p {
    margin: 1rem 0;
    color: #757575;
    line-height: normal;
  }

  & > h2 {
    & > p {
      color: #757575;
    }
  }
}

/* ---------------------------------------------------Contact Form-------------------------------------------------------- */
.group {
  position: relative;
  width: 100%;
}

.group-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adds space between the email and phone number inputs */
  width: 100%;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
  border: 1px solid white;

  background-color: #fcfcfa;
  border-radius: 20px;
  position: relative;
  width: 100%;
}

.container-1 {
  width: 100%;
}

.main-input {
  font-size: 14px;
  padding: 0.6rem 0.8rem;
  display: block;
  width: 100%;

  border: 1px solid #bdbdbd;
  background: transparent;
  color: #000000;
}

.submit {
  background-color: black;
  width: 100%;
  color: white;
  margin-top: 1.2rem;
  padding: 10px 20px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1024px) {
  .contactContainer {
    grid-template-columns: 1fr;
  }
  .contactContainer section:nth-of-type(2) {
    height: 50vh;
  }
  .contactContainer section:first-of-type h1 {
    font-size: 42px;
  }
}
@media screen and (max-width: 500px) {
  .contactContainer section:first-of-type h1 {
    font-size: 30px;
  }

  .contactContainer section:first-of-type {
    padding: 2% 3% 5% 3%;
  }

  .lebal-email,
  .lebal-message,
  .lebal-phoneNumber,
  .lebal-fullName {
    font-size: 14px;
  }
  .form {
    padding: 30px;
  }
  .main-input {
    font-size: 14px;
  }
}
