.faqContainer .hs-accordion-group {
  margin: 2% 20%;
}

.faqHeader {
  background-color: var(--theme-yellow);
  padding: 5%;
}

.faqHeader h1 {
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
}
.faqHeader p {
  font-size: 1.5rem;
  text-align: center;
}
