.livingContainer section:first-of-type {
}

.livingContainer header {
  & > figure {
    position: relative;
    height: 60vh;
    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    & > h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6rem;
      color: rgb(255, 255, 255);
    }
  }
}

.accordionSection {
  margin: 5rem 5%;

  display: grid;
  gap: 2rem;
  grid-template-columns: 2.5fr 1fr;
  align-items: center;
  padding: 0%;

  & > div:first-of-type {
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.accordionSection div h1 {
  font-family: "Raleway", serif;
  text-align: center;
  font-weight: 400;
  text-align: left;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .accordionSection div:first-of-type {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .aboutSection article h1 {
    font-size: 34px;
    font-weight: 700;
  }

  .accordionSection div h1 {
    margin-bottom: 10%;
  }
  .accordionSection div:last-of-type {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 768px) {
  .livingContainer {
    margin: 2% 10%;
  }
  .teamCardContainer section div p {
    text-align: justify;
  }
}

@keyframes appear {
  from {
    transform: translateY(300px);
    scale: 0.8;
  }

  to {
    scale: 1;
    transform: translateY(0px);
  }
}
