.partner-services-container {
  width: 80%;
  margin: auto;
  font-family: "Glacial Indifference", sans-serif;
  color: #333;
}

/* Partner Section */
.partner-section {
  background: url("../assets/images/pexels-wildlittlethingsphoto-708392.jpg");
  background-size: cover;
  background-position: 0%;
  padding: 50px;
  text-align: left;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 65vh;
  margin: 5% auto;
}

.partner-content {
  max-width: 300px;
}

.partner-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.partner-content p {
  font-size: 14px;
  margin-bottom: 20px;
}

.partner-btn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* Services Section */
.services-section {
  text-align: center;
  padding: 50px 0;
  margin-bottom: 4rem;

  & > h2 {
    font-size: 24px;
  }
}

.services-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 0px;
}

.service-item {
  width: 30%;
  padding: 20px;
  /* border: 1px solid #bdbdbd; */
  text-align: left;

  & > h3 {
    text-align: left;
    margin-bottom: 0.3rem;
  }

  & > h4 {
    margin-top: 1rem;
  }
}

.service-image {
  width: 100%;
  height: 80px;
  margin-bottom: 1rem;
  overflow: hidden;
  /* background: #ddd; */
  display: flex;
  align-items: end;
  justify-content: left;
}

.service-image img {
  width: 25px;
  height: 25px;
}

.service-item p {
  font-size: 12px;
  margin-top: 10px;
  color: #757575;
  line-height: normal;
}

.learn-more-btn {
  margin-top: 20px;
  padding: 10px 40px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
