.navigation {
  /* height: 12vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  position: sticky;
  top: 0%;
  background-color: #fcfcfa;
  /* border-bottom: 1px solid #dee2e6; */
  z-index: 99;
  margin: 0 auto;
  padding: 0.8rem 2%;
}

.brand {
  /* line-height: unset;
  text-transform: uppercase;
  font-size: unset; */
  width: 7rem;
  margin-inline: 2rem;
  transition: width 0.35s ease-in-out;

  & > a > img {
    height: max-content !important;
    object-fit: cover;
  }
}

.brand a,
.brand a:visited {
  color: #000000;
  text-decoration: none;
}

.brand a img {
  height: 40px;
  width: 160px;
}

/* nav {
  float: right;
} */
nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
  position: relative;
  font-size: 14px;

  & > li:last-of-type {
    position: absolute;
    right: 0;
  }
}
/* ------------------------------------------------------------------------------------ */

.searchInput {
  color: #000000;
  font-size: 14px;
  background-color: transparent;
  width: 0%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-left: 2rem; /* Space for the icon */
  padding-block: 0.7em;
  border: none;
  transition: width 0.3s ease-in-out;
}

.searchInput-border {
  position: absolute;
  background: var(--border-after-color, black); /* Added fallback */
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  cursor: pointer;
}

.searchIcon:hover ~ .searchInput-border {
  width: 100%;
}

.searchIcon:hover ~ .searchInput {
  width: 100%;
}

.form-control {
  position: relative;
  display: flex;
  align-items: center;
}

.searchInput-border-alt {
  width: 0px; /* Ensure it starts at 0 */
  height: 1px;
  background: black;
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.searchInput-alt:hover + .searchInput-border-alt {
  width: 100% !important;
}

/* ------------------------------------------------------------------------------------ */

.sidebar {
  visibility: hidden;
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 99;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  & > div {
    div:first-of-type > ul {
      padding: 16px;
      & > li {
        font-family: "Glacial Indifference", sans-serif;
        margin-bottom: 0.5rem;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
      }
    }

    & > div:nth-of-type(2) {
      cursor: pointer;
    }
  }

  /* &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 60%;
    z-index: -2;
    width: 100vw;
    background-color: #252628d9;
    height: 100vh;
  } */
}

.openSidebar {
  visibility: visible;
}

.searchbar {
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  left: -40%;

  & > div {
    div:first-of-type > ul {
      padding: 2rem 2rem 2rem 4rem;

      & > li {
        font-family: "Glacial Indifference", sans-serif;
        margin-bottom: 1rem;
        font-size: 24px;
        font-weight: 400;
        cursor: pointer;
      }
    }

    & > div:nth-of-type(2) {
      cursor: pointer;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 40%;
    z-index: -2;
    width: 100vw;
    background-color: #252628d9;
    height: 100vh;
  }
}

#search:focus {
  outline: none;
}

.closeSidebar::after,
.closeSearchbar::after {
  content: none;
  display: none;
}

.openSidebar,
.openSearchbar {
  animation: slide-fade-in-left 0.3s;
  & > ul > li {
    animation: slide-fade-in-left 0.4s;
  }
}

@keyframes slide-fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.openSearchbar {
  left: 0;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  font-weight: 400;
  text-decoration: none;
  color: #231f20;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  color: #000000;
}

.nav-list li a.active {
}

/* Mobile navigation */
.nav-mobile {
  position: absolute;
  top: -5vh;
  right: 10px;
  background: transparent;
}

.reserveBtn button {
  box-shadow: none !important;
  background-color: black;
  &:hover {
    background-color: rgb(54, 54, 54);
  }
}

.searchBtn button {
  box-shadow: none !important;
  font-weight: 400;
  &:hover {
    background-color: rgb(54, 54, 54);
  }
}

@media screen and (min-width: 1116px) {
  .nav-list {
    display: flex !important;
  }
}

@media screen and (max-width: 1115px) {
  nav {
    position: absolute;
    top: 10vh;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    cursor: pointer;
  }

  #navbar-toggle {
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    z-index: 99;
  }
  #navbar-toggle span,
  #navbar-toggle span:before,
  #navbar-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: #000000;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  #navbar-toggle span:before {
    top: -10px;
  }
  #navbar-toggle span:after {
    bottom: -10px;
  }
  #navbar-toggle.active span {
    background-color: transparent;
  }
  #navbar-toggle.active span:before,
  #navbar-toggle.active span:after {
    top: 0;
  }
  #navbar-toggle.active span:before {
    transform: rotate(45deg);
  }
  #navbar-toggle.active span:after {
    transform: rotate(-45deg);
  }
}

/* ------------------------------------------------------------ Text Animation -------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
