.header_container {
  & > figure {
    position: relative;
    height: 85vh;

    & > img {
      object-fit: cover;
      object-position: 0 30%;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    & > h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4rem;
      color: rgb(255, 255, 255);

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150%;

        height: 120%;
        background-color: rgba(0, 0, 0, 0.801);
        z-index: -1;
      }
    }
  }
}
