footer {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textWrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.textWrapper span {
  display: block;
  position: absolute;
  top: 0px;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.25s;
}
.textWrapper span.showing {
  font-size: 6vw;
  opacity: 1;
  position: absolute;
  top: 0px;
  transform: translateY(0);
}

footer h1:nth-of-type(2) {
  position: relative;
  display: flex;
  gap: 3%;
}

footer h1:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  line-height: 0.8;
}

footer h1:nth-of-type(1) span:first-of-type,
footer h1:nth-of-type(2) span:first-of-type {
  font-size: 6vw;
}

footer h1 {
  font-weight: 500;
  color: #333333;
  font-family: "Raleway", serif;
}

.footerLast span:nth-of-type(3):hover {
  color: #c00000;
}

.footerLast span:nth-of-type(1) {
  width: 150px;
}

footer article:hover {
  color: #c00000;
  cursor: pointer;
}

footer article:hover h1:nth-of-type(1) span:nth-of-type(2) svg {
  color: #000000;
}

footer article h1:nth-of-type(1) span:nth-of-type(2) svg {
  color: #ffffff;
}

.iconsBox ul {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1.5rem;
}

.iconsBox ul li {
  width: 35px;
  height: 35px;
}

.iconsBox ul li a img:hover {
  transform: scale(1.2);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

footer .footerLast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid gray;
}

footer section .footerMain {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 5%;
}

footer section .footerMain div {
  /* margin-left: auto; */
  height: auto;
  padding: 2%;
  margin: 0 5% 2% auto;
  /* transform: rotate3d(0, 0, 1, -180deg); */
}

.footerMain ul:first-of-type {
  width: 28%;
}

.footerMain ul:first-of-type li:nth-of-type(4) {
  margin-top: 2%;
}

.footerMain ul:first-of-type li:nth-of-type(3) {
  color: #ffffff;
  font-weight: 500;
}

.footerMain ul:last-of-type li:hover {
  color: #c00000;
  cursor: pointer;
}

.footerMain ul li:nth-of-type(2) {
  margin-top: 1rem;
}

.footerMain ul li {
  font-size: 16px;
  font-weight: 400;
  color: #878e83;
}

.footerMain ul li strong {
  font-size: 25px;
  color: rgb(255, 255, 255);
  cursor: default;
  font-family: "Raleway", serif;
}

@media screen and (max-width: 1000px) {
  footer section .footerMain {
    display: flex;
    justify-content: space-between;
    gap: 5%;
  }
  .footerMain ul:first-of-type,
  .footerMain ul:last-of-type {
    width: auto;
  }
  footer .footerLast {
    flex-direction: column;
    gap: 1rem;
  }
  footer .footerLast span:nth-of-type(2) {
    order: 3;
  }
}

@media screen and (max-width: 784px) {
  footer section .footerMain {
    justify-content: center;
  }
  footer h1:nth-of-type(1) span:first-of-type,
  footer h1:nth-of-type(2) span:first-of-type {
    font-size: 8vw;
    font-weight: 500;
  }
  .textWrapper span.showing {
    font-size: 8vw;
  }
}

@media screen and (max-width: 600px) {
  footer section .footerMain {
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }
  footer {
    padding: 10vh 10% 5vh;
  }
  .Footer_arrow__kw0yI {
    width: 8vw;
  }

  .iconsBox ul li {
    width: 28px;
    height: 28px;
  }
}
